{% extends 'base.html.twig' %}

{% block titrePage %}{% trans %}index_statut_titre_page{% endtrans %}{% endblock %}

{% block statutsEtudiants %}active{% endblock %}

{% block contenu %}
    {% if statuts is not empty %}
        <div class='bouton' align=center>
            <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ path('statut_new') }}">{% trans %}index_statut_btn_creer{% endtrans %}</a>
        </div>
        <div class="table-responsive table-hover">
            <table class="table" id="table">
                <thead>
                <tr>
                    <th>{% trans %}nom{% endtrans %}</th>
                    <th>{% trans %}effectif{% endtrans %}</th>
                    <th>{% trans %}description{% endtrans %}</th>
                    <th>{% trans %}createur{% endtrans %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for statut in statuts %}
                    <tr>
                        <td>{{ statut.nom }}</td>
                        <td>{{ statut.etudiants|length }}</td>
                        <td>{{ statut.description }}</td>
                        <td>{{ statut.enseignant.prenom }} {{ statut.enseignant.nom }}</td>
                        <td>
                            <a href="{{ path('statut_show', {'slug': statut.slug}) }}"><i class="icon-eye"
                                                                                          data-toggle='tooltip'
                                                                                          title='{% trans with {'nom': statut.nom } %}tooltip_statut_consulter{% endtrans %}'></i></a>
                            <a {% if statut.enseignant.id == app.user.id or is_granted('ROLE_ADMIN') %} href="{{ path('statut_edit', {'slug': statut.slug}) }}" {% endif %}><i
                                        class="icon-pencil-1" data-toggle='tooltip'
                                        title='{% trans with {'nom': statut.nom } %}tooltip_statut_modifier{% endtrans %}'></i></a>
                            <a {% if statut.enseignant.id == app.user.id or is_granted('ROLE_ADMIN') %} href="#" onclick="supprimerStatutEtudiant('{{ path('statut_delete', {'slug': statut.slug}) }}')" {% endif %}><i
                                        class="icon-trash" data-toggle='tooltip' title='{% trans with {'nom': statut.nom } %}tooltip_statut_supprimer{% endtrans %}'></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="info">
            <h1 class="h4 mb-0 text-gray-800">{% trans %}pas_de_statut{% endtrans %}</h1>
        </div>
        <div class='bouton' align=center>
            <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ path('statut_new') }}">{% trans %}index_statut_btn_creer{% endtrans %}</a>
        </div>
    {% endif %}
    <div class="modal fade" id="delStatutEtudiant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans %}avertissement{% endtrans %}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ 'modale_statut_supprimer' |trans |raw }}
                </div>
                <div class="modal-footer">
                    <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="BoutonSupprimerModale" href="#">{% trans %}modale_statut_supprimer_confirmer{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function supprimerStatutEtudiant(url) {
            $("#delStatutEtudiant").modal();
            document.getElementById("BoutonSupprimerModale").href = url;
        }
    </script>
{% endblock %}


{% block datatables %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').dataTable({
                language: {
                    // Suppression du label Rechercher et ajout du placeholder
                    search: "_INPUT_",
                    searchPlaceholder: "{% trans %}rechercher{% endtrans %}",
                    oPaginate: {
                        sFirst:      "{% trans %}premier{% endtrans %}",
                        sPrevious:   "{% trans %}precedent{% endtrans %}",
                        sNext:       "{% trans %}suivant{% endtrans %}",
                        sLast:       "{% trans %}dernier{% endtrans %}"
                    },
                    sProcessing:     "{% trans %}traitement{% endtrans %}",
                    sLoadingRecords: "{% trans %}chargement{% endtrans %}",
                    sZeroRecords:    "{% trans %}aucune_correspondance{% endtrans %}",
                    sEmptyTable:     "{% trans %}table_vide{% endtrans %}",
                    sLengthMenu:     "{% trans %}afficher_x_elements{% endtrans %}"
                },
                order: [
                    [1, "asc"]
                ],
                columns: [null, null, {"orderable": false}, null, {"orderable": false}],
                lengthMenu: [
                    [15, 30, 45, -1],
                    [15, 30, 45, "{% trans %}tout_elements{% endtrans %}"]
                ],
                pageLength: {{ app.user.preferenceNbElementsTableaux }}, <!-- Pour que le nombre d'éléments affichés par défaut soit celui de la préference de l'utilisateur -->
                info: false,
            });
        });
    </script>
{% endblock %}
