{{ form_start(form) }}
<div class="table-responsive">
    <table align="center" class="table">
        <tbody>
        <tr>
            <th class="intitule"><label for="enseignant_nom" class="required">{% trans %}form_enseignant_nom{% endtrans %}</label></th>
            <td class="champ">{{ form_errors(form.nom) }}{{ form_widget(form.nom) }}</td>
        </tr>
        <tr>
            <th class="intitule"><label for="enseignant_prenom" class="required">{% trans %}form_enseignant_prenom{% endtrans %}</label></th>
            <td class="champ">{{ form_errors(form.prenom) }}{{ form_widget(form.prenom) }}</td>
        </tr>
        <tr>
            <th class="intitule"><label for="enseignant_mail" class="required">{% trans %}form_enseignant_mail{% endtrans %}</label></th>
            <td class="champ">{{ form_errors(form.email) }}{{ form_widget(form.email) }}</td>
        </tr>
        <tr>
            <th class="intitule"><label for="enseignant_estAdmin" class="required">{% trans %}form_enseignant_administrateur{% endtrans %}</label></th>
            <td class="champ">{{ form_errors(form.estAdmin) }}{{ form_widget(form.estAdmin) }}{% if enseignant == app.user and is_granted('ROLE_ADMIN') %}
                    <span style="font-size:13px;color:red;"><i class="icon-attention-circled"></i>{% trans %}form_enseignant_message_info_droits{% endtrans %}</span>{% endif %}
            </td>
        </tr>
        {% if edit %}
            <tr>
                <th class="intitule"><label for="enseignant_motDePasse" class="required">{% trans %}form_enseignant_preference_tableau{% endtrans %}</label></th>
                <td class="champ">{{ form_errors(form.preferenceNbElementsTableaux) }}{{ form_widget(form.preferenceNbElementsTableaux) }}</td>
            </tr>
        {% endif %}
        {% if not edit %}
            <tr>
                <th class="intitule"><label for="enseignant_motDePasse" class="required">{% trans %}form_enseignant_mdp{% endtrans %}</label></th>
                <td class="champ">{{ form_errors(form.password) }}{{ form_widget(form.password) }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<div class='bouton' align=center>
    <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('enregistrer') | trans }}</button>
</div>
{{ form_end(form) }}
