{% extends 'base.html.twig' %}

{% block titrePage %}{% if enseignant == app.user %}Mon profil{% else %}{{ enseignant.prenom }} {{ enseignant.nom }}{% endif %}{% endblock %}

{% block enseignants %}active{% endblock %}

{% block contenu %}
    <div class='bouton' align=center>
        <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"
           href="{{ path('enseignant_edit', {'id': enseignant.id}) }}">Modifier {% if enseignant == app.user %}mon profil{% else %}{{ enseignant.prenom }} {{ enseignant.nom }}{% endif %}</a>
        {% if enseignant != app.user %}
            <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"
               href="{{ path('enseignant_edit_password', {'id': enseignant.id}) }}">Modifier le mot de passe
                de {{ enseignant.prenom }} {{ enseignant.nom }}</a>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <th class="intitule">{% trans %}form_enseignant_nom{% endtrans %}</th>
                <td>{{ enseignant.nom }}</td>
            </tr>
            <tr>
                <th class="intitule">{% trans %}form_enseignant_prenom{% endtrans %}</th>
                <td>{{ enseignant.prenom }}</td>
            </tr>
            <tr>
                <th class="intitule">{% trans %}form_enseignant_mail{% endtrans %}</th>
                <td>{{ enseignant.email }}</td>
            </tr>
            <tr>
                <th class="intitule">{% trans %}form_enseignant_administrateur{% endtrans %}</th>
                <td>
                    {% if 'ROLE_ADMIN' in enseignant.roles %}
                    {% trans %}oui{% endtrans %}
                    {% else %}
                        {% trans %}non{% endtrans %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="intitule">{% trans %}form_enseignant_preference_tableau{% endtrans %}</th>
                <td>
                    {% if enseignant.preferenceNbElementsTableaux != -1 %}
                        {{ enseignant.preferenceNbElementsTableaux }} {% trans %}elements{% endtrans %}
                    {% else %}
                        {% trans %}tous_les_elements{% endtrans %}
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
