{{ form_errors(form.evaluations) }}
<div class="table-responsive table-hover">
    <table class="table" id="evaluations">
        <thead>
        <th>
            {% if activerToutSelectionner %}
                <input type="checkbox" onclick="cocherToutesLesCases('form[evaluations][]', this.checked)"
                       name="checkbox" title="Tout cocher"/>
            {% endif %}
        </th>
        <th>{% trans %}nom{% endtrans %}</th>
        <th>{% trans %}date{% endtrans %}</th>
        <th>{% trans %}groupe{% endtrans %}</th>
        <th>{% trans %}createur{% endtrans %}</th>
        </thead>
        <tbody>
        {% for evaluation in form.evaluations %}
            {# store index of the category in a variable #}
            {% set index = evaluation.vars.value %}
            {#get entity object from its index in the Categories Field#}
            {% set entity = form.evaluations.vars.choices[index].data %}
            <tr>
                <td>{{ form_widget(form.evaluations[index]) }}</td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.date|date("d/m/Y") }}</td>
                <td>{{ entity.groupe.nom }}</td>
                <td>{{ entity.enseignant.prenom }} {{ entity.enseignant.nom }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
