{{ form_start(form) }}
<div class="table-responsive">
    <table align="center" class="table">
        <tbody>
        <tr>
            <th class="intitule"><label for="groupe_etudiant_nom" class="required">{% trans %}form_groupe_nom{% endtrans %}</label></th>
            <td>{{ form_help(form.nom) }}{{ form_errors(form.nom) }}{{ form_widget(form.nom) }}</td>
        </tr>
        <tr>
            <th class="intitule"><label for="groupe_etudiant_description" class="required">{% trans %}form_groupe_description{% endtrans %}</label></th>
            <td>{{ form_errors(form.description) }}{{ form_widget(form.description) }}</td>
        </tr>
        <tr>
            <th class="intitule"><label for="groupe_etudiant_estEvaluable" class="required">{% trans %}evaluable{% endtrans %}</label> <a
                        href="#HelpEvaluable" data-toggle='modal' data-target='#HelpEvaluable'><i
                            class="icon-help-circled"></i></a></th>
            <td>{{ form_errors(form.estEvaluable) }}{{ form_widget(form.estEvaluable) }}</td>
        </tr>
        <tr>
            <th class="intitule"><label for="groupe_etudiant_fichier" class="required">{% trans %}form_groupe_fichier_csv{% endtrans %}</label> <a
                        href="/template.csv">{% trans %}form_groupe_telecharger_modele{% endtrans %}</a>
            </th>
            <td>{{ form_errors(form.fichier) }}{{ form_widget(form.fichier) }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class='bouton' align=center>
    <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('groupe_creer_groupe') |trans }}</button>
</div>

<!-- Modale du ? de évaluable -->
<div class="modal fade" id="HelpEvaluable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% trans %}aide{% endtrans %}</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div align=center class="modal-body">
                {% trans %}modale_groupe_evaluable{% endtrans %}
            </div>
            <div class="modal-footer">
                <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="button"
                        data-dismiss="modal">Ok
                </button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
