{% extends 'base.html.twig' %}

{% block titrePage %}{{ groupe_etudiant.nom }}{% endblock %}

{% block groupes %}active{% endblock %}

{% block contenu %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class='bouton' align=center>
            <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"
               href="{{ path('groupe_etudiant_edit', {'slug': groupe_etudiant.slug}) }}">{% trans with {'nom': groupe_etudiant.nom } %}tooltip_groupe_modifier{% endtrans %}</a>
        </div>
    {% endif %}
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <th class="intitule" ondblclick="InvasionCommuniste()">{% trans %}show_groupe_description{% endtrans %}</th>
                <td>{{ groupe_etudiant.description }}</td>
            </tr>
            <tr>
                <th class="intitule">{% trans %}evaluable{% endtrans %} <a href="#HelpEvaluable" data-toggle='modal'
                                                  data-target='#HelpEvaluable'><i class="icon-help-circled"></i></a>
                </th>
                <td>{{ groupe_etudiant.estEvaluable ? 'oui' | trans : 'non' | trans }}</td>
            </tr>
            <tr>
                <th class="intitule">{% trans %}createur{% endtrans %}</th>
                <td>{{ groupe_etudiant.enseignant.prenom }} {{ groupe_etudiant.enseignant.nom }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h1 class="h4 mb-0 text-gray-800">Liste des étudiants du groupe</h1> <br>
    <div class="table-responsive">
        <table class="table" id="etud">
            <thead>
            <tr>
                <th>{% trans %}nom{% endtrans %}</th>
                <th>{% trans %}prenom{% endtrans %}</th>
                <th>{% trans %}mail{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% if etudiants is not empty %}
                {% for etudiant in etudiants %}
                    <tr>
                        <td>{{ etudiant.nom }}</td>
                        <td>{{ etudiant.prenom }}</td>
                        <td>{{ etudiant.mail }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <!-- Modale du ? de évaluable -->
    <div class="modal fade" id="HelpEvaluable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Aide</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div align=center class="modal-body">
                    {% trans %}modale_groupe_evaluable{% endtrans %}
                </div>
                <div class="modal-footer">
                    <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="button"
                            data-dismiss="modal">Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block datatables %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#etud').dataTable({
                language: {
                    // Suppression du label Rechercher et ajout du placeholder
                    search: "_INPUT_",
                    searchPlaceholder: "{% trans %}rechercher{% endtrans %}",
                    oPaginate: {
                        sFirst:      "{% trans %}premier{% endtrans %}",
                        sPrevious:   "{% trans %}precedent{% endtrans %}",
                        sNext:       "{% trans %}suivant{% endtrans %}",
                        sLast:       "{% trans %}dernier{% endtrans %}"
                    },
                    sProcessing:     "{% trans %}traitement{% endtrans %}",
                    sLoadingRecords: "{% trans %}chargement{% endtrans %}",
                    sZeroRecords:    "{% trans %}aucune_correspondance{% endtrans %}",
                    sEmptyTable:     "{% trans %}table_vide{% endtrans %}",
                    sLengthMenu:     "{% trans %}afficher_x_elements{% endtrans %}"
                },
                order: [
                    [0, "asc"]
                ],
                columns: [null, null, {"orderable": false}],
                lengthMenu: [
                    [15, 30, 45, -1],
                    [15, 30, 45, "Tout"]
                ],
                pageLength: {{ app.user.preferenceNbElementsTableaux }}, <!-- Pour que le nombre d'éléments affichés par défaut soit celui de la préference de l'utilisateur -->
                info: false,
            });
        });
    </script>
{% endblock %}
