{{ form_start(form) }}
<div class="table-responsive">
    <table align="center" class="table">
        <tbody>
        <tr>
            <th class="intitule"><label for="etudiant_nom" class="required">{% trans %}form_etudiant_nom{% endtrans %}</label></th>
            <td>{{ form_errors(form.nom) }}{{ form_widget(form.nom) }}</td>
        </tr>
        <tr>
            <th class="intitule"><label for="etudiant_prenom" class="required">{% trans %}form_etudiant_prenom{% endtrans %}</label></th>
            <td>{{ form_errors(form.prenom) }}{{ form_widget(form.prenom) }}</td>
        </tr>
        <tr>
            <th class="intitule"><label for="etudiant_mail" class="required">{% trans %}form_etudiant_mail{% endtrans %}</label></th>
            <td>{{ form_errors(form.mail) }}{{ form_widget(form.mail) }}</td>
        </tr>
        {% if edit %}
            <tr>
                <th class="intitule"><label for="etudiant_estDemissionaire" class="required">{% trans %}form_etudiant_demissionaire{% endtrans %}</label></th>
                <td>{{ form_errors(form.estDemissionaire) }}{{ form_widget(form.estDemissionaire) }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% if edit %}
    <div class="info">
        <h5 class="h5 mb-0 text-gray-800">
         {{ 'modifier_etudiant_message_creer_groupe_part_1' |trans | raw }}{{ path('groupe_etudiant_index') }}{{ 'modifier_etudiant_message_creer_groupe_part_2' |trans | raw }}<br>
         {{ 'modifier_etudiant_message_creer_statut_part_1' |trans | raw }}{{ path('statut_index') }}{{ 'modifier_etudiant_message_creer_statut_part_2' |trans | raw }}
        </h5>
    </div>
{% endif %}
    {% if formStatut.statuts is defined %}
        {% if formStatut.statuts is not empty %}
            <br><h1 class="h4 mb-0 text-gray-800">{% trans %}creer_etudiant_ajouter_groupe{% endtrans %}</h1> <br>
            <div class="table-responsive table-hover">
                <table class="table" id="statuts">
                    <thead>
                    <th><input type="checkbox" onclick="cocherToutesLesCases('form[statuts][]', this.checked)"
                               id="checkbox"
                               title="Tout cocher"/></th>
                    <th>{% trans %}nom{% endtrans %}</th>
                    <th>{% trans %}description{% endtrans %}</th>
                    <th>{% trans %}createur{% endtrans %}</th>
                    </thead>
                    <tbody>
                    {% for statut in formStatut.statuts %}
                        {# store index of the category in a variable #}
                        {% set index = statut.vars.value %}
                        {# get entity object from its index in the Categories Field #}
                        {% set entity = formStatut.statuts.vars.choices[index].data %}
                        <tr>
                            <td>{{ form_widget(formStatut.statuts[index]) }}</td>
                            <td>{{ entity.nom }}</td>
                            <td>{{ entity.description }}</td>
                            <td>{{ entity.enseignant.prenom }} {{ entity.enseignant.nom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="info">
                <h5 class="h5 mb-0 text-gray-800">
                    {{ 'message_alternatif_pas_de_statut_part_1' |trans |raw }}{{ path('statut_new') }}{{ 'message_alternatif_pas_de_statut_part_2' |trans |raw }}
                </h5>
            </div>
        {% endif %}
    {% endif %}
<div class='bouton' align=center>
    <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('enregistrer') | trans }}</button>
</div>
{{ form_end(form) }}
