{% extends 'base.html.twig' %}

{% block titrePage %}{{ etudiant.prenom }} {{ etudiant.nom }}{% endblock %}

{% block etudiants %}active{% endblock %}

{% block contenu %}
    <div class='bouton' align=center>
        <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"
           href="{{ path('etudiant_edit', {'id': etudiant.id}) }}">{% trans with {'nom': etudiant.nom, 'prenom': etudiant.prenom } %}modifier_etudiant_titre_page{% endtrans %}</a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <th class="intitule">{% trans%}form_etudiant_nom{% endtrans %}</th>
                <td>{{ etudiant.nom }}</td>
            </tr>
            <tr>
                <th class="intitule">{% trans%}form_etudiant_prenom{% endtrans %}</th>
                <td>{{ etudiant.prenom }}</td>
            </tr>
            <tr>
                <th class="intitule">{% trans%}form_etudiant_mail{% endtrans %}</th>
                <td>{{ etudiant.mail }}</td>
            </tr>
            <tr>
                <th class="intitule">{% trans%}form_etudiant_demissionaire{% endtrans %}</th>
                <td>{{ etudiant.estDemissionaire ? 'oui' |trans : 'non' | trans }}</td>
            </tr>
            <tr>
                <th class="intitule">{% trans%}form_etudiant_statuts{% endtrans %}</th>
                <td>
                    {% for statut in etudiant.statuts %}
                        <font size=4><span class="badge badge-primary">{{ statut.nom }}</span></font>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br> <h1 class="h4 mb-0 text-gray-800">{% trans%}consulter_etudiant_liste_groupes{% endtrans %}</h1> <br>
    <div class="table-responsive">
        <table class="table" id="groupes">
            <thead>
            <tr>
                <th>{% trans%}nom{% endtrans %}</th>
                <th>{% trans%}description{% endtrans %}</th>
                <th>{% trans%}createur{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for groupe in groupes %}
                <tr>
                    <td>
                        {% if groupe.lvl > 0 %}
                            {% for i in 1.. groupe.lvl %}
                                &emsp;
                            {% endfor %}
                        {% endif %}
                        {{ groupe.nom }}
                    </td>
                    <td>{{ groupe.description }}</td>
                    <td>{{ groupe.enseignant.nom }} {{ groupe.enseignant.prenom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block datatables %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#groupes').dataTable({
                aaSorting: [], //Désactivation du tri automatique
                language: {
                    // Suppression du label Rechercher et ajout du placeholder
                    search: "_INPUT_",
                    searchPlaceholder: "{% trans %}rechercher{% endtrans %}",
                    oPaginate: {
                        sFirst:      "{% trans %}premier{% endtrans %}",
                        sPrevious:   "{% trans %}precedent{% endtrans %}",
                        sNext:       "{% trans %}suivant{% endtrans %}",
                        sLast:       "{% trans %}dernier{% endtrans %}"
                    },
                    sProcessing:     "{% trans %}traitement{% endtrans %}",
                    sLoadingRecords: "{% trans %}chargement{% endtrans %}",
                    sZeroRecords:    "{% trans %}aucune_correspondance{% endtrans %}",
                    sEmptyTable:     "{% trans %}table_vide{% endtrans %}",
                    sLengthMenu:     "{% trans %}afficher_x_elements{% endtrans %}"
                },
                columns: [null, null, {"orderable": false}],
                lengthMenu: [
                    [15, 30, 45, -1],
                    [15, 30, 45, "{% trans %}tout_elements{% endtrans %}"]
                ],
                pageLength: {{ app.user.preferenceNbElementsTableaux }}, <!-- Pour que le nombre d'éléments affichés par défaut soit celui de la préference de l'utilisateur -->
                info: false,
            });
        });
    </script>
{% endblock %}
